.btn-indigo {
    color: #fff;
    background-color: #6610f2;
    border-color: #6610f2;
}

.link-purple {
    color: #6601f2;
}

.link-purple:hover {
    color: #8d45f3;
}

.bg-purple {
    color: white;
    background-color: #8d45f3 !important;
}

.table-purple th {
    background-color: #6610f2;
    color: white;
}

.table-purple tr {
    background-color: #a581e0;
    color: white;
}

.table-purple tr:nth-child(even) {
    background-color:#e0d4f3;
    color: black;
}

.form-control.vendor:focus {
    border-color: #6601f2;
    box-shadow: 0 0 2px 2px #8d45f3;
}