<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this_product.name }} - Edit - Adventory Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <h1 class="navbar-brand">Hello, {{ this_user.first_name }}</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'users:dashboard' %}" class="nav-link text-light">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'products:all_products' %}" class="nav-link text-light">All Products</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link text-light">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid p-5">
        <div class="container">
            <h1 class="text-primary">Edit {{ this_product.name }}</h1>
            <form id="edit-product-form" method="post" class="d-flex flex-column">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ this_product.id }}">
                <ul id="edit-product-errors"></ul>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Name:</label>
                    <div class="col-sm-4">
                        <input type="text" name="name" class="form-control" value="{{ this_product.name }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="barcode" class="col-sm-3 col-form-label">Item Number:</label>
                    <div class="col-sm-4">
                        <input type="text" name="barcode" class="form-control" value="{{ this_product.barcode }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="category_id" class="col-sm-3 col-form-label">Category:</label>
                    <div class="col-sm-4">
                        <select name="category_id" id="category_id" class="form-control">
                            <option value="-1">Select a category...</option>
                            {% for this_category in all_categories %}
                                <option value="{{ this_category.id }}" 
                                {% if this_product.category.id == this_category.id %}
                                    selected
                                {% endif %}>{{ this_category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3 col-form-label">Description:</label>
                    <div class="col-sm-4">
                        <textarea name="description" id="description" class="form-control">{{ this_product.description }}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="qty_available" class="col-sm-3 col-form-label">Quantity Available:</label>
                    <div class="col-sm-4">
                        <input type="text" name="qty_available" class="form-control" value="{{ this_product.qty_available }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-3 col-form-label">Price ($):</label>
                    <div class="col-sm-4">
                        <input type="text" name="price" class="form-control" value="{{ this_product.price }}">
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}" ></script>
    <script src="{% static 'js/product_script.js' %}" async></script>
</body>
</html>