<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this_product.name }} - Adventory Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom_product.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <h1 class="navbar-brand">Hello, {{ this_user.first_name }}</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'users:dashboard' %}" class="nav-link text-light">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'products:all_products' %}" class="nav-link text-light">All Products</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link text-light">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid p-5">
        <h1 class="display-4 mb-5">{{ this_product.name }}</h1>
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="vendor-tab" data-bs-toggle="tab" data-bs-target="#vendors" type="button" role="tab" aria-controls="vendors" aria-selected="false">Vendors</button>
            </li>
        </ul>
        <div class="tab-content border border-dark p-4" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                <div class="row d-flex">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-2">
                                <p>Description:</p>
                            </div>
                            <div class="col-8">
                                <p>{{ this_product.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Price:</p>
                            </div>
                            <div class="col-8">
                                <p>${{ this_product.price }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Quantity Available:</p>
                            </div>
                            <div class="col-8">
                                <p>{{ this_product.qty_available }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Created By:</p>
                            </div>
                            <div class="col-8">
                                <p>{{ this_product.creator.first_name }} {{ this_product.creator.last_name }} on {{ this_product.created_at|date:"m/d/Y"}} at {{ this_product.created_at|date:"H:i:s"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>Last Updated By:</p>
                            </div>
                            <div class="col-8">
                                <p>{{ this_product.last_update.user.first_name }} {{ this_product.last_update.user.last_name }} on {{ this_product.last_update.updated_at|date:"m/d/Y"}} at {{ this_product.last_update.updated_at|date:"H:i:s"}}</p>
                            </div>
                        </div>
                        {% if this_user.is_admin == 1 %}
                        <form id="delete-product-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="product_name" name="product_name" value="{{ this_product.name }}">
                            <input type="hidden" id="product_id" name="product_id" value="{{ this_product.id }}">
                            <p><a href="/products/{{ this_product.id }}/edit">Edit</a> | <a id="delete-product" href="#">DELETE</a></p>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="vendors" role="tabpanel" aria-labelledby="vendor-tab">
                <div class="row d-flex">
                    <div class="col-10">
                        <table class="table table-indigo">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>SKU</th>
                                    <th>Cost</th>
                                    <th>Primary Vendor?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <form id="product-vendor-form" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="product_id" name="product_id" value="{{ this_product.id }}">
                                    {% for this_vendor in all_product_vendors %}
                                    <tr>
                                        <td>{{ this_vendor.vendor.name }}</td>
                                        <td>{{ this_vendor.sku }}</td>
                                        <td>{{ this_vendor.cost }}</td>
                                        <td>
                                            <input type="radio" name="is_primary_vendor" id="product_vendor_{{ this_vendor.vendor.id }}" value="{{ this_vendor.vendor.id }}"
                                            {% if this_vendor.is_primary_vendor == 1 %}
                                                checked
                                            {% endif %}
                                            {% if this_user.is_admin == 0 %}
                                                disabled
                                            {% endif %}
                                            >
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </form>
                            </tbody>
                        </table>
                        <!-- New product vendor form displays only for admins-->
                        {% if this_user.is_admin == 1 %}
                        <h3 class="border-top mt-4 p-3">Add a New Vendor</h3>
                        <form id="new-product-vendor-form" method="post" class="d-flex flex-column">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ this_product.id }}">
                            <ul id="new-product-vendor-errors"></ul>
                            <div class="form-group row">
                                <label for="vendor_id" class="col-sm-3 col-form-label">Name:</label>
                                <div class="col-sm-4">
                                    <select name="vendor_id" id="vendor_id" class="form-control vendor">
                                        <option value="-1">Select a vendor...</option>
                                        {% for this_vendor in not_product_vendors %}
                                            <option value="{{ this_vendor.id }}">{{ this_vendor.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sku" class="col-sm-3 col-form-label">Vendor Number:</label>
                                <div class="col-sm-4">
                                    <input type="text" name="sku" class="form-control vendor">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cost" class="col-sm-3 col-form-label">Cost ($):</label>
                                <div class="col-sm-4">
                                    <input type="text" name="cost" class="form-control vendor">
                                </div>
                            </div>
                            <div>
                                <a href="{% url 'vendors:new_vendor_form' %}" class="link-indigo">Need to create a vendor?</a>
                            </div>
                            <div class="mt-4">
                                <input type="submit" class="btn btn-indigo" value="Add">
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/product_script.js' %}" async></script>
</body>
</html>