<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - Adventory Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/user_script.js' %}"  async></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <h1 class="navbar-brand">Hello, {{ this_user.first_name }}</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'users:dashboard' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:new_user' %}" class="nav-link">+ New User</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link">Log Out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <h1>All Users</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Admin</th>
                    {% if this_user.is_admin == 1 %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for curr_user in all_users %}
                <tr>
                    <td>{{ curr_user.first_name }} {{ curr_user.last_name }}</td>
                    <td>{{ curr_user.email }}</td>
                    <td>
                        {% if curr_user.is_admin == 1 %}
                            <p>Yes</p>
                        {% else %}
                            <p>No</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if this_user.is_admin == 1 %}
                        <a href="/users/{{ curr_user.id}}/edit">Edit</a> |
                        <a href="/users/{{ curr_user.id}}/delete">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>