<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard - Adventory Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <h1 class="navbar-brand">Hello, {{ this_user.first_name }}</h1>
        <a href="{% url 'users:logout' %}" class="text-light">Log Out</a>
    </nav>
    <div class="container-fluid p-5">
        <div class="container d-flex justify-content-center">
            <h1 class="display-4">Main Menu</h1>
        </div>
        <div class="row d-flex justify-content-center text-center mt-5">
            <div class="col-auto">
                <div class="card border-0">
                    <a href="{% url 'products:all_products' %}" class="bg-primary"><img src="{% static 'img/inventory.png' %}" alt="Inventory" width="100" height="100" class="card-img-top img-thumbnail"></a>
                    <div class="card-body">
                        <p class="card-text lead"><a href="{% url 'products:all_products' %}">Inventory</a></p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card border-0">
                    <a href="{% url 'vendors:all_vendors' %}"><img src="{% static 'img/vendor.png' %}" alt="Vendors" width="100" height="100" class="card-img-top img-thumbnail"></a>
                    <div class="card-body">
                        <p class="card-text lead"><a href="{% url 'vendors:all_vendors' %}" class="text-indigo">Vendors</a></p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card border-0">
                    <a href="{% url 'users:all_users' %}"><img src="{% static 'img/user.png' %}" alt="Users" width="100" height="100" class="card-img-top img-thumbnail"></a>
                    <div class="card-body">
                        <p class="card-text lead"><a href="{% url 'users:all_users' %}"  class="text-success">Users</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>