<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name - Edit - Adventory Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/user_script.js' %}"  async></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <h1 class="navbar-brand">Hello, {{ this_user.first_name }}</h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'users:dashboard' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:all_users' %}" class="nav-link">All Users</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link">Log Out</a>
            </li>
        </ul>
    </nav>
</body>
</html>