<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventory Inventory - Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/user_script.js' %}"  async></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <form action="/register" method="post">
        {% csrf_token %}
        <h1>Register</h1>
        
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">

        <label for="email">Email:</label>
        <input type="text" name="email">

        <label for="password">Password:</label>
        <input type="text" name="password">

        <label for="confirm_password">Confirm Password:</label>
        <input type="text" name="confirm_password">

        <input type="submit" value="Register">
    </form>
</body>
</html>